---
import { PANELS } from "../lib/panels";
import { PRESENTATIONS } from "../lib/presentations";
import { COMPANIES_LIST, ACTIVITIES } from "../lib/fair";
import ButtonLink from "./ButtonLink.astro";

const SECTIONS = ["Paneles"];
const currentSection = 0;
---

<section
  class="max-w-screen-lg mx-auto p-4 sm:p-6 bg-customSecondary100 text-white"
>
  <div class="flex justify-between items-center mb-4 sm:mb-6 flex-wrap gap-4">
    <div class="flex gap-2 sm:gap-3 flex-wrap">
      {
        SECTIONS.map((event, index) => (
          <button
            class={`text-sm sm:text-base event-button p-2 px-4 hover:opacity-75 transition ease-linear ${currentSection === index ? "bg-white text-gray-700" : "bg-customPrimary100"}`}
          >
            {event}
          </button>
        ))
      }
    </div>
    <div class="hidden sm:flex gap-2">
      <button
        id="previous-button"
        class="p-2 bg-customPrimary100 rounded hover:opacity-75 transition ease-linear"
        >‹</button
      >
      <button
        id="next-button"
        class="p-2 bg-customPrimary100 rounded hover:opacity-75 transition ease-linear"
        >›</button
      >
    </div>
  </div>
  <ul id="panels-list" class="event-list grid grid-cols-1 gap-4 sm:gap-6">
    {
      PANELS.map((event) => (
        <a
          href={`/panel/${event.id}`}
          class={`p-4 sm:p-6 bg-gradient-to-r from-[#010507] to-[#243642] rounded cursor-pointer hover:opacity-75 transition ease-linear ${event?.isABreak ? "pointer-events-none" : ""}`}
        >
          <span class="block text-base sm:text-xl font-bold uppercase ">
            {event.title}
          </span>
          <div class="text-sm font-light mt-2 flex flex-wrap gap-2 lg:gap-8 items-center">
            <div class="flex gap-2 items-center">
              <i class="fas fa-clock text-customPrimary20" />
              <span class="">{event?.date}</span>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fas fa-map-marker-alt text-customPrimary20" />
              <span>{event?.address}</span>
            </div>
          </div>
          {!event?.isABreak && (
            <div class="flex justify-end md:justify-normal  mt-2">
              <span class="text-end font-extralight border-b-2 text-sm">
                Leer más
              </span>
            </div>
          )}
        </a>
      ))
    }
  </ul>
  <ul id="fair-list" class="event-list hidden grid-cols-1 gap-4 sm:gap-6">
    {
      ACTIVITIES.map((event, index) => (
        <li class="p-4 sm:p-6 bg-gradient-to-r from-[#010507] to-[#243642] rounded hover:opacity-75 transition ease-linear">
          <span class="block text-base sm:text-xl font-bold uppercase ">
            {event.title}
          </span>
          <div class="text-sm font-light mt-2 flex flex-wrap gap-2 lg:gap-8 items-center">
            <div class="flex gap-2 items-center">
              <i class="fas fa-clock text-customPrimary20" />
              <span class="">{event?.date}</span>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fas fa-map-marker-alt text-customPrimary20" />
              <span>{event?.address}</span>
            </div>
          </div>
        </li>
      ))
    }
    <ul class="grid-cols-1 md:grid-cols-2 gap-4">
      {
        COMPANIES_LIST.map((event) => (
          <a
            href={event.urlExternal}
            target="_blank"
            class="p-8 bg-customPrimary100 cursor-pointer hover:opacity-75 transition ease-linear flex flex-col justify-center items-center gap-2 text-center "
          >
            <img
              src={`/fair/${event.imgPreview}`}
              class="w-2/4 sm:w-48 rounded-full"
            />
            <span class="block text-base sm:text-xl font-bold uppercase pb-2">
              {event.title}
            </span>
          </a>
        ))
      }
      <div
        class="relative z-10 p-10 sm:p-20 bg-customPrimary100 scotch-container sm:col-span-2 text-center"
      >
        <h2 class="text-2xl sm:text-5xl font-bold">INSCRÍBETE A LA FERIA</h2>
        <p class="mt-4 max-w-2xl mx-auto pb-12 text-sm sm:text-base">
          Únete a la feria tecnológica más grande del año, donde la innovación,
          la creatividad y la tecnología se encuentran. Descubre los últimos
          avances, interactúa con expertos de la industria y vive experiencias
          únicas que te conectarán con el futuro.
        </p>
        <ButtonLink
          text="Inscríbete"
          link="https://docs.google.com/forms/d/e/1FAIpQLSfuzdIH5pwWGAcNyFVHkWLy8fOv5mt8YlacWdghwNFlsdPadg/viewform"
        />
      </div>
    </ul>
  </ul>
  <ul id="presentations-list" class="event-list hidden grid-cols-1 gap-4">
    {
      PRESENTATIONS.map((event, index) => (
        <a
          href={`/panel/${event.id}`}
          class="p-4 bg-gradient-to-r from-[#010507] to-[#243642] rounded cursor-pointer hover:opacity-75 transition ease-linear "
        >
          <span class="block text-base sm:text-xl font-bold uppercase pb-2">
            {event.title}
          </span>
          <span class="block text-xs sm:text-sm text-white ">
            {event.description.slice(0, 100)}...
          </span>
        </a>
      ))
    }
  </ul>
</section>

<script>
  function initEvents() {
    const eventListElement = document.querySelectorAll(".event-list");
    const eventButtonsElement = document.querySelectorAll(".event-button");
    let currentIndexEventList = 0;
    const amountOfEvents = 2;

    function showEventList({ index = 0 }) {
      eventButtonsElement.forEach((list) => {
        list.classList.remove("bg-white");
        list.classList.remove("text-gray-700");
        list.classList.add("bg-customPrimary100");
      });

      eventButtonsElement[index].classList.add("bg-white");
      eventButtonsElement[index].classList.add("text-gray-700");
      currentIndexEventList = index;

      eventListElement.forEach((list) => {
        list.classList.add("hidden");
        list.classList.remove("grid");
      });

      eventListElement[index].classList.remove("hidden");
      eventListElement[index].classList.add("grid");
    }

    eventButtonsElement.forEach((button, index) => {
      button.addEventListener("click", () => {
        showEventList({ index });
      });
    });

    function showPreviousEvent() {
      showEventList({
        index:
          currentIndexEventList != 0
            ? currentIndexEventList - 1
            : amountOfEvents - 1,
      });
    }

    function showNextEvent() {
      showEventList({
        index:
          currentIndexEventList != amountOfEvents - 1
            ? currentIndexEventList + 1
            : currentIndexEventList + 1 - amountOfEvents,
      });
    }

    const previousButtonElement = document.getElementById("previous-button");
    const nextButtonElement = document.getElementById("next-button");

    previousButtonElement?.addEventListener("click", showPreviousEvent);
    nextButtonElement?.addEventListener("click", showNextEvent);
  }

  document.addEventListener("astro:page-load", () => {
    initEvents();
  });
</script>
