---
import { SPEAKERS } from "../lib/speakers";
---

<section class="p-1 text-customSecondary100">
    <ul
        id="speakers-list"
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 border-l-2"
    >
        {
            SPEAKERS.map((event) => (
                <li class="px-4 py-10 sm:px-12 bg-transparent text-white  flex flex-col items-center gap-5  transition ease-in-out delay-100 duration-100  text-center border-4 border-white">
                    <img
                        src={`/speakers/${event.url}`}
                        class="w-2/4 sm:w-48 rounded-full border-2 border-white"
                    />
                    <span class="block text-base sm:text-xl font-bold uppercase">
                        {event.speaker}
                    </span>
                    <span class="block text-sm sm:text-base font-extralight">
                        {event.profesion}
                    </span>
                    <span class="flex gap-4">
                        <a
                            href={event.urlLinkedin}
                            target="_blank"
                            class="hover:opacity-75"
                        >
                            <i class="fab fa-linkedin" />
                        </a>
                        {/* <a
                            href={event.urlLinkedin}
                            target="_blank"
                            class="hover:opacity-75"
                        >
                            <i class="fab fa-instagram" />
                        </a> */}
                    </span>
                </li>
            ))
        }
    </ul>
</section>

<script>
    // import { SPEAKERS } from "../lib/speakers";

    // function initspeakers() {
    //     function renderspeakers() {
    //         const speakersList = document.getElementById("speakers-list");
    //         speakersList.innerHTML = SPEAKERS.map(
    //             (event) => `
    //       <li class="px-4 py-10 sm:px-12 bg-transparent text-white  flex flex-col items-center gap-5  transition ease-in-out delay-100 duration-100 hover:opacity-85 text-center border-4 border-white">
    //         <img src="speakers/${event.url}" class="w-2/4 sm:w-48 rounded-full border-2 border-white"/>
    //         <span class="block text-base sm:text-xl font-bold uppercase">${event.speaker}</span>
    //         <span class="block text-sm sm:text-base font-extralight">${event.profesion}</span>
    //         <span class="flex gap-4">
    //             <a href="${event.urlLinkedin}" target="_blank"
    //             ><i class="fab fa-linkedin"></i></a
    //             >
    //             <a href="${event.urlLinkedin}" target="_blank"
    //             ><i class="fab fa-instagram"></i></a
    //             >
    //         </span>
    //       </li>
    //     `,
    //         ).join("");
    //     }

    //     renderspeakers();
    // }

    // Initial render when the page loads
    // initspeakers();
</script>
